//! Make sure to import modules you need. Included are some frequently used modules.

// Custom Vars
@import "./variables";
@import "./custom";

// Utilities
@import "bulma/sass/utilities/_all.sass";

// Base
@import "bulma/sass/base/_all.sass";

// Components
@import "bulma/sass/components/card.sass";
@import "bulma/sass/components/level.sass";
@import "bulma/sass/components/navbar.sass";

// Elements
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/icon.sass";
@import "bulma/sass/elements/image.sass";
@import "bulma/sass/elements/other.sass";
@import "bulma/sass/elements/title.sass";

// Form
@import "bulma/sass/form/_all.sass";

// Grid
@import "bulma/sass/grid/columns.sass";

// Layout
@import "bulma/sass/layout/footer.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
